<div class="header">
    <div class="header-container">
        <div class="logo">
            <img src="../../../assets/infomoby-logo.png" alt="logo" class="image" />
        </div>
        <div class="avatar">
            <div class="dropdown">
                <button (click)="toggleDropdown()">
                    <i *ngIf="!photoUrl" class="fa-solid fa-circle-user user-icon"></i>
                    <img *ngIf="photoUrl" class="avatar" src={{photoUrl}} />
                </button>
                <div class="dropdown-menu" *ngIf="showDropdown">
                    <div class="header-menu">
                        <div class="profile-image">
                            <i *ngIf="!photoUrl" class="fa-solid fa-circle-user user-icon"></i>
                                <img *ngIf="photoUrl" class="user-icon-image"
                                    src={{photoUrl}} />
                        </div>
                        <div>
                            <p>{{fullName}}
                                <br>
                                <span>{{email}}</span>
                            </p>

                        </div>
                    </div>
                    <hr>
                    <div class="menu-header-content">
                        <button (click)="viewProfile()">View Profile</button>
                        <br>
                        <button (click)="logOut()">Log Out</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Open Button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div> -->
        <!-- <div ngbDropdown>
            <button class="btn btn-secondary" id="dropdownMenuButton" ngbDropdownToggle>
                Open Button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item">Action</button>
                <button class="dropdown-item">Another action</button>
                <button class="dropdown-item">Something else here</button>
            </div>
        </div> -->




    </div>
</div>

<div class="main-div">
    <div style="margin-right: 2rem;" class="call-to-action">
        <div class="content-container">
            <div class="content">
                <p *ngIf="isEdit === false">Create beautiful websites with no code</p>

                <p *ngIf="isEdit === true">Welcome back to your site</p>
                <div *ngIf="isEdit === false" class="button-style">
                    <button (click)="createSitesNoCode()">
                        START HERE
                        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                    </button>
                </div>
                <div *ngIf="isEdit === true" class="button-style">
                    <button (click)="editSite()" [disabled]="isLoading" style="margin-top: 1.8rem;">
                        EDIT SITE
                        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
                    </button>
                </div>

            </div>
        </div>
        <hr>
        <div class="bottom-text-container">
            <div class="bottom-text">
                <p>Easily design a professional website without any coding experience!</p>
            </div>
        </div>
    </div>

    <div class="call-to-action right">
        <div class="content-container">
            <div class="content">
                <p>Get in touch with our professionals to help you</p>
                <div class="button-style">
                    <button (click)="hireProfessional()">HIRE A PROFESSIONAL</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="bottom-text-container">
            <div class="bottom-text">
                <p>Contact our experts to build stunning websites from scratch according to your liking!</p>
            </div>
        </div>
    </div>
</div>