.loader-content {
    width: 800px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p{
        margin-bottom: 2rem;
        text-align: center;
        color: #5C5C5C;
        text-align: center;
        font-family: Outfit;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #04A9F4;
    width: 150px;
    height: 150px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }