<div class="body">
    <div class="content">

        <p class="header">         <img style="height: 16px; width: 16px; margin-right: 0.3rem;" src="../../../assets//infomoby-favicon.png" />Infomoby Business</p>
        <div class="card">
            
            <p class="forgot-password">Forgot your password?</p>

            <div class="input-container">
                <label>Email address <span>*</span></label>
                <input class="custom-input" type="text"/> 
            </div>
            <div class="input-container">
                <button class="button-1">Reset My Password</button>
            </div>
            <div class="input-container">
                <button class="button-2">Login</button>
            </div>
        </div>
    </div>
</div>
