<div class="body">
    <div class="content-container" *ngIf="currentTab === 1">
        <div class="content">
            <div class="content-body-container">
                <div class="content-body">
                    <h1>What's the name of your business or project?</h1>
                    <p>You can give this project your name, business name or how people can find you online</p>
                </div>
            </div>
            <div class="input">
                <!-- <mat-form-field class="example-full-width"> -->
                    <input class="business-name-input" [(ngModel)]="businessName" placeholder="For Example Jane's Restaurant">
                <!-- </mat-form-field> -->

            </div>
        </div>
    </div>

    <!-- <div class="section-wrapper" *ngIf="currentTab === 2">
        <div class="content-container">
            <div class="content">
                <div class="content-body-container">
                    <div class="content-body">
                        <h1>What template does your website require?</h1>
                        <p>Choose a template for your Website</p>
                    </div>
                </div>
                <div class="recommendations">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let item of items">
                            <div (click)="toggleIcon(item.template_id)" style="position: relative;">
                                <i class="fa-solid fa-circle-check" [hidden]="!isIconVisible(item.template_id)" style="float: right; position: absolute; left: 5; font-size:22px; margin-left: 14rem; margin-top: 1rem;"></i>
                                <img [src]="item.desktop_thumbnail_url" alt="Item Thumbnail" class="item-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="review-wrapper" *ngIf="currentTab === 2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 left-side">
                    <div class="content">
                        <div class="heading">
                            <h1>Review and edit your info</h1>
                        </div>
                        <p>This will help us in identifying the most suitable
                            style that fits your business and comunicates to your audience</p>
                    </div>
                </div>
                <div class="col-6 right-side">
                    <div class="content">
                        <div class="input-group">
                            <p>Business Name</p>
                            <input type="text" [value]="businessName" class="custom-input"
                                placeholder="Business Name" />
                        </div>
                        <div class="input-group">
                            <p>Email</p>
                            <input type="text" [(ngModel)]="email" class="custom-input"
                                placeholder="Business Email" />
                        </div>
                        <div class="input-group">
                            <p>Phone</p>
                            <input type="text" [(ngModel)]="phone" class="custom-input"
                                placeholder="Business PhoneNumber" />
                        </div>
                        <!-- <div class="input-group">
                            <p>Address</p>
                            <input type="text" class="custom-input" placeholder="Enter your Address" />
                        </div>
                        <div class="input-group">
                            <p>Socials</p>
                            <input type="text" class="custom-input" placeholder="Enter your name" />
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-info">
        <app-timeline [events]="events" [width]="containerWidth">
        </app-timeline>
        <div class="progress-button-container">
            <div class="progress-buttons">
                <button (click)="switchTab(-1)" class="back-button"><i class="fa-solid fa-arrow-left icon"></i>
                    Back</button>
                <button *ngIf="currentTab < 2" (click)="switchTab(1)" class="continue-button">Continue <i
                        class="fa-solid fa-arrow-right icon"></i></button>
                <button (click)="onSubmit()" class="continue-button" *ngIf="currentTab ===2">Done</button>
            </div>
        </div>
    </div>
</div>